@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

* {
  font-family: 'Noto Sans KR', sans-serif;
}

body {
  position: relative;
  padding: 0;
  margin: 0;
}

p {
  font-size: 1rem;
}

a:hover,
a:active {
  text-decoration: none;
  text-shadow: 1px 1px 2px #ffd80d;
  transition: text-shadow 0.3s ease-out;
}
